name: Run Ardo for macOS

on:
  push:
    branches: 
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: 
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  workflow_dispatch:
  repository_dispatch:
    types: ardo-build-macos

env:
  ARDOUR_VERSION: "9.1"
  # available upload services: wetransfer.com, transfer.sh, file.io, 0x0.st
  # UPLOAD_SERVICE: transfer.sh
  # https://community.ardour.org/srctar
  # https://fossies.org/linux/misc/Ardour-6.8.0.tar.bz2
  ARTIFACT_RETENTION_DAYS: 3

jobs:
  ardo-build:
    name: Run Ardo for macOS ${{ matrix.config.arch }}
    # macos-14 is arm64 machine
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        config:
          - { 
              # requires macOS 11.0 SDK (or later)
              arch: arm64
            }
    steps:
      
      # - name: Download CA Certification
      #   # https://stackoverflow.com/a/54503009
      #   shell: bash
      #   run: |
      #     brew info openssl

      #     echo "Downloading cacert.pem..."
      #     curl -sSL http://curl.haxx.se/ca/cacert.pem >> cacert.pem

      #     mv -v cacert.pem /usr/local/etc/openssl@1.1/certs

      # clang 16
      - name: Fixed xcode version to 16.2
        run: sudo xcode-select -s /Applications/Xcode_16.2.app

      - name: Check Perl
        shell: bash
        run: |
          perl -V

      # - name: Install XML::Parser perl module
      #   shell: bash
      #   run: |
      #     brew install cpanminus
      #     cpanm XML::Parser

      - name: Install XML::Parser perl module
        shell: bash
        run: |
          cpan XML::Parser

      - name: Check XML::Parser perl module
        shell: bash
        run: |
          perl -e "require XML::Parser"
          perldoc -l XML::Parser

      # distutils package is removed in python version 3.12,
      # the setuptools project can be installed: it still provides distutils.
      # https://docs.python.org/3.12/whatsnew/3.12.html
      # glib-2.0/codegen: ModuleNotFoundError: No module named 'imp'.
      # `imp` is deprecated and is turned into `importlib` in 3.12.
      # https://github.com/BradenM/micropy-cli/issues/575
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'arm64' # optional x86, x64 or arm64. If the input is not specified, the architecture defaults to the host OS architecture.

      - name: Install Python Setuptools
        run: pip install setuptools

      - name: Checkout Build Tools Source Code
        if: github.event_name == 'push'
        uses: actions/checkout@v6
        with:
          repository: magicalbox/ardo
          token: ${{ secrets.GH_PAT }} 
          fetch-depth: 0
          ref: main
          path: '.'

      - name: Checkout Build Tools Source Code
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          path: '.'

      - name: Get Ardo Latest Release Source Code
        uses: actions/checkout@v6
        with:
          repository: 'Ardour/ardour'
          fetch-depth: 1
          ref: ${{ env.ARDOUR_VERSION }}
          path: './src'
        
      - name: Print Clang Version
        # https://stackoverflow.com/a/20874420
        shell: bash
        run: |
          clang --version

      - name: Prepare
        shell: bash
        run: |
          chmod a+x ${{ github.workspace }}/scripts/ardour-build-tools/waf
          chmod a+x ${{ github.workspace }}/scripts/ardour-build-tools/rb-wscript
          chmod a+x ${{ github.workspace }}/scripts/ardour-build-tools/vamp-wscript
          chmod a+x ${{ github.workspace }}/src/waf
          chmod a+x ${{ github.workspace }}/src/wscript
      # https://stackoverflow.com/questions/11287564/getting-sed-error-illegal-byte-sequence-in-bash

      - name: Set env
        shell: bash
        run: |
          echo "LC_CTYPE=C" >> $GITHUB_ENV
          echo "HOME=${{ github.workspace }}/macos-${{ matrix.config.arch }}" >> $GITHUB_ENV
          echo "PATH=/usr/lib/ccache:${{ github.workspace }}/macos-${{ matrix.config.arch }}/bin:${{ github.workspace }}/macos-${{ matrix.config.arch }}/gtk/inst/bin/:$PATH" >> $GITHUB_ENV
          echo "PKG_CONFIG_PATH=${{ github.workspace }}/macos-${{ matrix.config.arch }}/gtk/inst/lib/pkgconfig/:/usr/lib/i386-linux-gnu/pkgconfig:/usr/lib/x86_64-linux-gnu/pkgconfig:/usr/lib/pkgconfig:/usr/share/pkgconfig/" >> $GITHUB_ENV
          echo "PYTHONPATH=./:${{ github.workspace }}/macos-${{ matrix.config.arch }}/gtk/inst/lib/python`python --version 2>&1 | cut -d ' ' -f 2 | cut -b 1-3`/site-packages/" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=${{ github.workspace }}/macos-${{ matrix.config.arch }}/gtk/inst/lib/" >> $GITHUB_ENV
          echo "PERL5LIB=/usr/local/Cellar/perl/`perl -e 'print substr($^V, 1)'`/lib/perl5/site_perl/`perl -e 'print substr($^V, 1)'`:/usr/local/Cellar/perl/`perl -e 'print substr($^V, 1)'`/lib/perl5/`perl -e 'print substr($^V, 1)'`:/usr/local/lib/perl5/site_perl/`perl -e 'print substr($^V, 1)'`:$PERL5LIB" >> $GITHUB_ENV

      - name: Print env
        shell: bash
        run: |
          env

      - name: Install Build Stack
        shell: bash
        run: |
          bash ${{ github.workspace }}/scripts/ardour-build-tools/build-stack

      # https://github.com/MTG/essentia/issues/930
      # OR python3 waf configure --prefix=YOUR_CUSTOM_PATH
      - name: Compile
        # --depstack-root defaults to ~ 
        # nproc returns logical cores. The mac equivalent of that is sysctl -n hw.logicalcpu instead of sysctl -n hw.physicalcpu
        shell: bash
        run: |
          cd ${{ github.workspace }}/src
          python3 ./waf configure --strict --with-backends=jack,coreaudio,dummy --ptformat --optimize --cxx17
          python3 ./waf -j$(sysctl -n hw.logicalcpu)
          python3 ./waf i18n
          sudo python3 ./waf install

      - name: Package
        shell: bash
        run: |
          cd ${{ github.workspace }}/src/tools/osx_packaging
          bash ./osx_build --nls --public

      - name: Generate sha256sum
        # ${{ github.workspace }}/src/tools/osx_packaging/Ardour-6.8.0.dmg
        shell: bash
        run: |
          SHA256SUM=$(shasum -a 256 ${{ github.workspace }}/src/tools/osx_packaging/Ardour-*.dmg | cut -d ' ' -f 1)
          echo "${SHA256SUM}" > ${{ github.workspace }}/src/tools/osx_packaging/Ardour-${{ env.ARDOUR_VERSION }}-${{ matrix.config.arch }}.dmg.sha256sum
          echo "sha256sum: ${SHA256SUM}"

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: Ardour-MacOS-${{ matrix.config.arch }}-Artifact
          path: |
            ${{ github.workspace }}/src/tools/osx_packaging/Ardour-*.dmg
            ${{ github.workspace }}/src/tools/osx_packaging/Ardour-*.dmg.sha256sum
          retention-days: ${{ env.ARTIFACT_RETENTION_DAYS }}
